In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 요약통계량 살펴보기

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/EDA/data0712/youtube_0714새벽_승주.csv",lineterminator='\n')

In [ ]:
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name
0,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,24,2020-08-12 00:00:00,보겸|bokyem,5947503,53326,105756,139946,False,False,NaN,Entertainment
1,I-ZbZCHsHD0,부락토스의 계획 [총몇명 프리퀄],2020-08-12 09:00:08,UCRuSxVu4iqTK5kCh90ntAgA,총몇명,1,2020-08-12 00:00:00,총몇명|재밌는 만화|부락토스|루시퍼|총몇명 프리퀄|총몇명 스토리,963384,28244,494,3339,False,False,"오늘도 정말 감사드립니다!!총몇명 스튜디오 - 총몇명, 십제곱, 5G민, MOVE혁...",Film & Animation
2,9d7jNUjBoss,평생 반성하면서 살겠습니다.,2020-08-10 09:54:13,UCMVC92EOs9yDJG5JS-CMesQ,양팡 YangPang,22,2020-08-12 00:00:00,양팡|양팡유튜브|팡튜브|가족시트콤|양팡가족|양팡가족시트콤|양팡언니|현실남매|현실자매...,2950885,17974,68898,50688,False,False,NaN,People & Blogs
3,3pI_L3-sMVg,안녕하세요 꽈뚜룹입니다.,2020-08-11 15:00:58,UCkQCwnkQfgSuPTTnw_Y7v7w,꽈뚜룹 Quaddurup,24,2020-08-12 00:00:00,꽈뚜룹|한국여행기|quaddurup|뚜룹이|korea|southkorea|vlog|...,1743374,36893,1798,8751,False,False,앞으로 좀 더 깔끔한 영상제작 약속 드리겠습니다.늘 감사드립니다,Entertainment
4,zrsBjYukE8s,박진영 (J.Y. Park) When We Disco (Duet with 선미) M/V,2020-08-11 09:00:13,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12 00:00:00,JYP Entertainment|JYP|J.Y.Park|JYPark|박진영|선미|S...,3433885,353337,9763,23405,False,False,MelOn http://kko.to/TWyXd7zYjSpotify https://s...,Music

In [ ]:
df = df.drop(['categoryId'], axis=1)
# 'comments_disabled','ratings_disabled' 얘는 일단 빼고

In [ ]:
df.info() #에잇 object로 바뀌어있네 ;;

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137554 entries, 0 to 137553
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   video_id       137554 non-null  object
 1   title          137554 non-null  object
 2   publishedAt    137554 non-null  object
 3   channelId      137554 non-null  object
 4   channelTitle   137554 non-null  object
 5   trending_date  137554 non-null  object
 6   tags           137554 non-null  object
 7   view_count     137554 non-null  int64
 8   likes          137554 non-null  int64
 9   dislikes       137554 non-null  int64
 10  comment_count  137554 non-null  int64
 11  description    134011 non-null  object
 12  category_name  137554 non-null  object
dtypes: int64(4), object(9)
memory usage: 13.6+ MB

In [ ]:
df[df['video_id']=='uq5LClQN3cE']
# 며칠동안 구구절절 뜨는 애들도 있음!
# 어떤 컨텐츠들이 최소 며칠 이상으로 인기 동영상에 머무는지 이런 것도 살펴보면 좋을 것 같음 (뒤에나옴)

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,description,category_name
0,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-12 00:00:00,보겸|bokyem,5947503,53326,105756,139946,NaN,Entertainment
137,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-13 00:00:00,보겸|bokyem,6342777,53631,109839,141253,NaN,Entertainment
275,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-14 00:00:00,보겸|bokyem,6550728,53720,112069,137751,NaN,Entertainment
436,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-15 00:00:00,보겸|bokyem,6703894,53738,113548,135352,NaN,Entertainment
598,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-16 00:00:00,보겸|bokyem,6769636,53734,114273,135521,NaN,Entertainment
781,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-17 00:00:00,보겸|bokyem,6828812,53702,114938,133622,NaN,Entertainment
950,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-18 00:00:00,보겸|bokyem,6879571,53705,115494,128860,NaN,Entertainment

In [ ]:
df.shape #아니 어디가 200개가 안되나? 200개가 딱맞춰있어야하는거아닌가?

(137554, 13)

In [ ]:
# 얘네는 또 어떡하니.......... 
np.where(df.groupby('trending_date')['video_id'].count()!=200)

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
         26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
         39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  82,  99, 102,
        169, 191, 196, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289,
        290, 291, 292, 293, 294, 295, 296, 297]),)

In [ ]:
df.describe()

         view_count         likes       dislikes  comment_count
count  1.375540e+05  1.375540e+05  137554.000000   1.375540e+05
mean   1.618720e+06  7.406458e+04     870.091957   8.841621e+03
std    6.166372e+06  4.292023e+05    9655.556540   1.125411e+05
min    0.000000e+00  0.000000e+00       0.000000   0.000000e+00
25%    3.356400e+05  5.743000e+03       0.000000   5.470000e+02
50%    6.521940e+05  1.157800e+04     129.000000   1.215000e+03
75%    1.307116e+06  2.634875e+04     350.000000   2.870000e+03
max    2.963142e+08  1.646425e+07  879358.000000   6.939302e+06

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

view_count       652194.0
likes             11578.0
dislikes            129.0
comment_count      1215.0
dtype: float64

In [ ]:
df.groupby('category_name').median()
df_cat_med = df.groupby('category_name').median()

In [ ]:
total = pd.DataFrame({'view_count':[652194],
              'likes':[11578], 
              'dislikes':[129],
              'comment_count':[1215],
              'likes_rate':[11578/129]}, index = ['Total'])
df_cat_med = pd.concat([df_cat_med, total])
print(df_cat_med)

                       view_count    likes  dislikes  comment_count  \
Autos & Vehicles         459026.0   4289.5     123.5          851.0
Comedy                   734805.5  13231.0     166.0         1345.0
Education                441622.0   9406.0     168.0          812.0
Entertainment            700801.0  11758.0     127.0         1148.0
Film & Animation         759342.0  15420.5     165.0         1665.5
Gaming                   508748.0   7980.0      79.0         1304.0
Howto & Style            498987.5   9249.5     108.0          366.0
Music                   1081822.0  57687.0     147.0         3914.0
News & Politics          811548.0   9145.0     207.0         2063.0
Nonprofits & Activism    321082.0   7632.0      55.0          571.0
People & Blogs           548826.0  12087.0     121.0         1062.0
Pets & Animals           517127.0  12346.0     125.0         1056.0
Science & Technology     447054.0   6591.0     173.0          955.0
Sports                   653979.0   6561.0      99.0         1174.5
Travel & Events          500747.0  10067.5      65.0         1127.0
Total                    652194.0  11578.0     129.0         1215.0

                       likes_rate
Autos & Vehicles        34.732794
Comedy                  79.704819
Education               55.988095
Entertainment           92.582677
Film & Animation        93.457576
Gaming                 101.012658
Howto & Style           85.643519
Music                  392.428571
News & Politics         44.178744
Nonprofits & Activism  138.763636
People & Blogs          99.892562
Pets & Animals          98.768000
Science & Technology    38.098266
Sports                  66.272727
Travel & Events        154.884615
Total                   89.751938

In [ ]:
print('조회수로 내림차순 정렬')
print(df_cat_med['view_count'].sort_values(ascending=False))
print()
print('좋아요 수로 내림차순 정렬')
print(df_cat_med['likes'].sort_values(ascending=False))
print() 
print('싫어요 수로 내림차순 정렬')
print(df_cat_med['dislikes'].sort_values(ascending=False))
print() 
print('댓글 수로 내림차순 정렬')
print(df_cat_med['comment_count'].sort_values(ascending=False))
print()

조회수로 내림차순 정렬
Music                    1081822.0
News & Politics           811548.0
Film & Animation          759342.0
Comedy                    734805.5
Entertainment             700801.0
Sports                    653979.0
Total                     652194.0
People & Blogs            548826.0
Pets & Animals            517127.0
Gaming                    508748.0
Travel & Events           500747.0
Howto & Style             498987.5
Autos & Vehicles          459026.0
Science & Technology      447054.0
Education                 441622.0
Nonprofits & Activism     321082.0
Name: view_count, dtype: float64

좋아요 수로 내림차순 정렬
Music                    57687.0
Film & Animation         15420.5
Comedy                   13231.0
Pets & Animals           12346.0
People & Blogs           12087.0
Entertainment            11758.0
Total                    11578.0
Travel & Events          10067.5
Education                 9406.0
Howto & Style             9249.5
News & Politics           9145.0
Gaming                    7980.0
Nonprofits & Activism     7632.0
Science & Technology      6591.0
Sports                    6561.0
Autos & Vehicles          4289.5
Name: likes, dtype: float64

싫어요 수로 내림차순 정렬
News & Politics          207.0
Science & Technology     173.0
Education                168.0
Comedy                   166.0
Film & Animation         165.0
Music                    147.0
Total                    129.0
Entertainment            127.0
Pets & Animals           125.0
Autos & Vehicles         123.5
People & Blogs           121.0
Howto & Style            108.0
Sports                    99.0
Gaming                    79.0
Travel & Events           65.0
Nonprofits & Activism     55.0
Name: dislikes, dtype: float64

댓글 수로 내림차순 정렬
Music                    3914.0
News & Politics          2063.0
Film & Animation         1665.5
Comedy                   1345.0
Gaming                   1304.0
Total                    1215.0
Sports                   1174.5
Entertainment            1148.0
Travel & Events          1127.0
People & Blogs           1062.0
Pets & Animals           1056.0
Science & Technology      955.0
Autos & Vehicles          851.0
Education                 812.0
Nonprofits & Activism     571.0
Howto & Style             366.0
Name: comment_count, dtype: float64

In [ ]:
# 조회수 / 좋아요
# total보다 위에 있으면 다른 분류들과 비교해 상대적으로 좋아요보다 조회수가 더 많음 (상대적으로 조회수에 비해 좋아요가 안 나온다고도 볼 수 있음.)
df_cat_med['view_div_likes'] = df_cat_med['view_count']/df_cat_med['likes']
df_cat_med['view_div_likes'].sort_values(ascending=False)

# 조회수 / 좋아요
# total보다 위에 있으면 다른 분류들과 비교해 상대적으로 좋아요보다 조회수가 더 많음 (상대적으로 조회수에 비해 좋아요가 안 나온다고도 볼 수 있음.)
#Autos & Vehicles Sports News & Politics Science & Technology Gaming Entertainment
#Total Comedy Howto & Style Travel & Events  Film & Animation Education People & Blogs Nonprofits & Activism Pets & Animals  Music

Autos & Vehicles         107.011540
Sports                    99.676726
News & Politics           88.742264
Science & Technology      67.827947
Gaming                    63.752882
Entertainment             59.602058
Total                     56.330454
Comedy                    55.536656
Howto & Style             53.947511
Travel & Events           49.738962
Film & Animation          49.242372
Education                 46.951095
People & Blogs            45.406304
Nonprofits & Activism     42.070493
Pets & Animals            41.886198
Music                     18.753307
Name: view_div_likes, dtype: float64

In [ ]:
# 조회수 / 싫어요
# total보다 위에 있으면 다른 분류들과 비교해 상대적으로 싫어요보다 조회수가 더 많음 (상대적으로 조회수에 비해 싫어요가 덜 나온다고도 볼 수 있음.)
df_cat_med['view_div_dislikes'] = df_cat_med['view_count']/df_cat_med['dislikes']
df_cat_med['view_div_dislikes'].sort_values(ascending=False)

Travel & Events          7703.800000
Music                    7359.333333
Sports                   6605.848485
Gaming                   6439.848101
Nonprofits & Activism    5837.854545
Entertainment            5518.118110
Total                    5055.767442
Howto & Style            4620.254630
Film & Animation         4602.072727
People & Blogs           4535.752066
Comedy                   4426.539157
Pets & Animals           4137.016000
News & Politics          3920.521739
Autos & Vehicles         3716.809717
Education                2628.702381
Science & Technology     2584.127168
Name: view_div_dislikes, dtype: float64

In [ ]:
# 조회수 / 댓글수
# total보다 위에 있으면 다른 분류들과 비교해 상대적으로 댓글보다 조회수가 더 많음 (상대적으로 조회수에 비해 댓글이 덜 달린다고도 볼 수 있음.)
df_cat_med['view_div_comment'] = df_cat_med['view_count']/df_cat_med['comment_count']
df_cat_med['view_div_comment'].sort_values(ascending=False)

Howto & Style            1363.353825
Entertainment             610.453833
Nonprofits & Activism     562.315236
Sports                    556.814815
Comedy                    546.323792
Education                 543.869458
Autos & Vehicles          539.396005
Total                     536.785185
People & Blogs            516.785311
Pets & Animals            489.703598
Science & Technology      468.119372
Film & Animation          455.924347
Travel & Events           444.318545
News & Politics           393.382453
Gaming                    390.144172
Music                     276.398058
Name: view_div_comment, dtype: float64

In [ ]:
#먼저 실행되었지만 편의상 뒤에 둠
# 좋아요 / 싫어요
# total보다 위에 있는 애들은 다른 분류들과 비교해 상대적으로 싫어요보다 좋아요가 더 많음

df_cat_med['likes_rate'] = df_cat_med['likes']/df_cat_med['dislikes']
df_cat_med['likes_rate'].sort_values(ascending=False)

Music                    392.428571
Travel & Events          154.884615
Nonprofits & Activism    138.763636
Gaming                   101.012658
People & Blogs            99.892562
Pets & Animals            98.768000
Film & Animation          93.457576
Entertainment             92.582677
Total                     89.751938
Howto & Style             85.643519
Comedy                    79.704819
Sports                    66.272727
Education                 55.988095
News & Politics           44.178744
Science & Technology      38.098266
Autos & Vehicles          34.732794
Name: likes_rate, dtype: float64

In [ ]:
#먼저 실행되었지만 편의상 뒤에 둠
# 좋아요 / 댓글
# total보다 위에 있는 애들은 다른 분류들과 비교해 상대적으로 댓글보다 좋아요가 더 많음
# 정치부분은 좋아요보다 댓글이 훨씬 많다

df_cat_med['likes_div_comment'] = df_cat_med['likes']/df_cat_med['comment_count']
df_cat_med['likes_div_comment'].sort_values(ascending=False)

Howto & Style            25.271858
Music                    14.738631
Nonprofits & Activism    13.366025
Pets & Animals           11.691288
Education                11.583744
People & Blogs           11.381356
Entertainment            10.242160
Comedy                    9.837175
Total                     9.529218
Film & Animation          9.258781
Travel & Events           8.933008
Science & Technology      6.901571
Gaming                    6.119632
Sports                    5.586207
Autos & Vehicles          5.040541
News & Politics           4.432865
Name: likes_div_comment, dtype: float64

In [ ]:
# 싫어요 / 댓글
# total보다 위에 있는 애들은 다른 분류들과 비교해 상대적으로 댓글보다 싫어요가 더 많음
# 여행 카테고리는 싫어요보다 댓글이 훨씬 많다
# 교육 카테고리는 싫어요가 댓글보다 많다

df_cat_med['dislikes_div_comment'] = df_cat_med['dislikes']/df_cat_med['comment_count']
df_cat_med['dislikes_div_comment'].sort_values(ascending=False)

Howto & Style            0.295082
Education                0.206897
Science & Technology     0.181152
Autos & Vehicles         0.145123
Comedy                   0.123420
Pets & Animals           0.118371
People & Blogs           0.113936
Entertainment            0.110627
Total                    0.106173
News & Politics          0.100339
Film & Animation         0.099069
Nonprofits & Activism    0.096322
Sports                   0.084291
Gaming                   0.060583
Travel & Events          0.057675
Music                    0.037557
Name: dislikes_div_comment, dtype: float64

In [ ]:
#태그 몇 개인지 구하기 위한 작업 시작...
df['tags'][137553]=='[None]'

True

In [ ]:
'[None]' in df['tags'][137553].split('|')

True

In [ ]:
# df['tag_num'] = df['tags'].apply(lambda x: len(x.split('|')))
# 태그 몇 개인지 구하기
for i in range(len(df)):
  if(df['tags'][i] == '[None]'):
    df['tag_num'][i] = 0
  else:df['tag_num'][i] = len(df['tags'][i].split('|'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df['tags']

0                                                 보겸|bokyem
1                       총몇명|재밌는 만화|부락토스|루시퍼|총몇명 프리퀄|총몇명 스토리
2         양팡|양팡유튜브|팡튜브|가족시트콤|양팡가족|양팡가족시트콤|양팡언니|현실남매|현실자매...
3         꽈뚜룹|한국여행기|quaddurup|뚜룹이|korea|southkorea|vlog|...
4         JYP Entertainment|JYP|J.Y.Park|JYPark|박진영|선미|S...
                                ...
137549                                               [None]
137550    골프|골프레슨|golf|golf lesson|드라이버|아이언|골프맨|조윤성프로|골프...
137551             글램핑|캠핑여행|남자친구랑여행|홍영기|이세용|영기티비|데이트코스|여행추천
137552                         HYBE|HYBE LABELS|하이브|하이브레이블즈
137553                                               [None]
Name: tags, Length: 137554, dtype: object

In [ ]:
df.groupby('tag_num').agg({'view_count':['count','median','mean', 'min', 'max']})
# 태그가 많다고 뭐 조회수가 높아지거나 그런 건 아닌 것 같다...
# 하지만 분포도를 그려보거나
# 한 채널 안에서 많아지는 거에 대해서 그림을 그려봐도 좋을 것 같음

        view_count
             count    median          mean     min        max
tag_num
0            18583  640018.0  1.317259e+06       0   84077957
1             1420  579518.0  8.433016e+05   36809    5461688
2             2356  601292.0  1.237340e+06   38175   25122788
3             4351  650160.0  1.135045e+06   15845   29182486
4             3880  628798.5  2.972492e+06   30061  194795844
...            ...       ...           ...     ...        ...
131              8  373437.0  3.480738e+05  209530     392141
132              8  477660.0  4.521336e+05  255077     539791
133             31  643498.0  8.276148e+05  156550    1768074
135             28  546215.5  5.261317e+05  114468     851463
144              7  258345.0  2.474353e+05  174110     282435

[127 rows x 5 columns]

In [ ]:
df.groupby('category_name').mean()

                         view_count          likes     dislikes  comment_count
category_name
Autos & Vehicles       7.542978e+05    9432.513466   370.252927    1503.310890
Comedy                 1.158998e+06   36769.260607   795.539532    3334.783329
Education              9.466088e+05   14889.859532   307.484950    1604.532887
Entertainment          1.176115e+06   36080.916061   430.765873    3179.880138
Film & Animation       1.098933e+06   23122.434987   386.874665    2820.174486
Gaming                 1.297482e+06   38469.234415   734.631858    3433.956735
Howto & Style          7.238494e+05   15489.348459   239.201440     965.924481
Music                  6.079885e+06  439184.165618  4261.412727   58516.820721
News & Politics        1.177876e+06   14672.774834   399.787049    3772.898160
Nonprofits & Activism  8.399390e+05   69324.079498   490.682008    1466.188285
People & Blogs         9.210724e+05   34847.271625   490.200055    2870.315360
Pets & Animals         7.388543e+05   15344.965986   213.144647    1550.316148
Science & Technology   1.567604e+06   39549.261230  1249.734409    2262.019625
Sports                 1.083339e+06   15103.255501   336.757113    2457.487955
Travel & Events        7.637694e+05   18275.155646   175.853510    1757.895727

In [ ]:
df.to_csv('/content/drive/MyDrive/EDA/data0712/youtube_0715저녁_승주.csv',index=False)

In [ ]:
df_cat_med.to_csv('/content/drive/MyDrive/EDA/data0712/youtube_median_승주.csv')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/EDA/data0712/youtube_0715저녁_승주.csv',lineterminator='\n')
df_cat_med = pd.read_csv('/content/drive/MyDrive/EDA/data0712/youtube_median_승주.csv',lineterminator='\n')

In [ ]:
df.columns

Index(['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'trending_date', 'tags', 'view_count', 'likes', 'dislikes',
       'comment_count', 'description', 'category_name', 'tag_num'],
      dtype='object')

In [ ]:
title = df["title"].to_numpy()
publishedAt = df["publishedAt"].to_numpy()
view_count = df["view_count"].to_numpy()
likes = df["likes"].to_numpy()
dislikes = df["dislikes"].to_numpy()
comment_count = df["comment_count"].to_numpy()
category_name = df["category_name"].to_numpy()
tag_num = df["tag_num"].to_numpy()

In [ ]:
print("약 2년간 가장 조회수가 많은 영상은 ",category_name[np.argmax(view_count)]," 카테고리의 ", title[np.argmax(view_count)] ,"이며, 조회수는 ", view_count[np.argmax(view_count)], "회이다.")
print("약 2년간 가장 좋아요 수가 많은 영상은 ",category_name[np.argmax(likes)]," 카테고리의 ", title[np.argmax(likes)] ,"이며, 좋아요 수는 ", likes[np.argmax(likes)], "개다.")
print("약 2년간 가장 싫어요 수가 많은 영상은 ",category_name[np.argmax(dislikes)]," 카테고리의 ", title[np.argmax(dislikes)] ,"이며, 싫어요 수는 ", dislikes[np.argmax(dislikes)], "개다.")
print("약 2년간 가장 댓글 수가 많은 영상은 ",category_name[np.argmax(comment_count)]," 카테고리의 ", title[np.argmax(comment_count)] ,"이며, 댓글 수는 ", comment_count[np.argmax(comment_count)], "개다.")
print("약 2년간 가장 태그 수가 많은 영상은 ",category_name[np.argmax(tag_num)]," 카테고리의 ", title[np.argmax(tag_num)] ,"이며, 태그 수는 ", tag_num[np.argmax(tag_num)], "개다.")

약 2년간 가장 조회수가 많은 영상은  Music  카테고리의  BTS (방탄소년단) 'Butter' Official MV 이며, 조회수는  296314174 회이다.
약 2년간 가장 좋아요 수가 많은 영상은  Music  카테고리의  BTS (방탄소년단) 'Butter' Official MV 이며, 좋아요 수는  16464253 개다.
약 2년간 가장 싫어요 수가 많은 영상은  Music  카테고리의  BLACKPINK - 'Ice Cream (with Selena Gomez)' M/V 이며, 싫어요 수는  879358 개다.
약 2년간 가장 댓글 수가 많은 영상은  Music  카테고리의  BTS (방탄소년단) 'Butter' Official MV 이며, 댓글 수는  6939302 개다.
약 2년간 가장 태그 수가 많은 영상은  People & Blogs  카테고리의  생각보다 더 심각한 고은아의 코 상태... 이며, 태그 수는  144 개다.

진짜 충격적...................이네요...............  태그야 뭐 그렇다 치는데 블랙핑크 아이스크림이라니 세상

In [ ]:
df[df['category_name']=='Pets & Animals'].sort_values('view_count', ascending=False).head(20)
#이거 어떡하지 ?????????????????????
#이게 똑같은 영상이 여러번 나와...
#와 논의 필요 ㅠㅠ

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,description,category_name,tag_num
16344,uXLh6C6iccM,"강형욱이 탐낸 천재견, 신비의 견종 3개월 파라오 하운드와 저 세상 터그놀이 | 강...",2020-11-06 09:30:11,UCee1MvXr6E8qC_d2WEYTU5g,강형욱의 보듬TV - Dog Trainer Kang,2020-11-17 00:00:00,강형욱|강형욱훈련사|보듬|보듬컴퍼니|BODEUM|강아지|반려견|개|Dog|puppy...,5562412,48197,1326,3305,[Eng sub/中文字幕]강형욱 훈련사를 완전히 매료시킨 천재견.강형욱을 완전히 만...,Pets & Animals,67
16137,uXLh6C6iccM,"강형욱이 탐낸 천재견, 신비의 견종 3개월 파라오 하운드와 저 세상 터그놀이 | 강...",2020-11-06 09:30:11,UCee1MvXr6E8qC_d2WEYTU5g,강형욱의 보듬TV - Dog Trainer Kang,2020-11-16 00:00:00,강형욱|강형욱훈련사|보듬|보듬컴퍼니|BODEUM|강아지|반려견|개|Dog|puppy...,5466060,47357,1299,3237,[Eng sub/中文字幕]강형욱 훈련사를 완전히 매료시킨 천재견.강형욱을 완전히 만...,Pets & Animals,67
118349,xXw7IPxbhZg,(Eng cc) 울부짖는 개를 단번에 제압하는 강형욱 훈련사 ㄷㄷ | A dog t...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-04-06 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,5453383,39428,0,8535,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
15900,uXLh6C6iccM,"강형욱이 탐낸 천재견, 신비의 견종 3개월 파라오 하운드와 저 세상 터그놀이 | 강...",2020-11-06 09:30:11,UCee1MvXr6E8qC_d2WEYTU5g,강형욱의 보듬TV - Dog Trainer Kang,2020-11-15 00:00:00,강형욱|강형욱훈련사|보듬|보듬컴퍼니|BODEUM|강아지|반려견|개|Dog|puppy...,5345333,46264,1281,3131,[Eng sub/中文字幕]강형욱 훈련사를 완전히 매료시킨 천재견.강형욱을 완전히 만...,Pets & Animals,67
118132,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-04-05 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,5343615,38537,0,8404,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
117922,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-04-04 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,5189928,37461,0,8189,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
15656,uXLh6C6iccM,"강형욱이 탐낸 천재견, 신비의 견종 3개월 파라오 하운드와 저 세상 터그놀이 | 강...",2020-11-06 09:30:11,UCee1MvXr6E8qC_d2WEYTU5g,강형욱의 보듬TV - Dog Trainer Kang,2020-11-14 00:00:00,강형욱|강형욱훈련사|보듬|보듬컴퍼니|BODEUM|강아지|반려견|개|Dog|puppy...,5169650,44527,1216,3035,[Eng sub/中文字幕]강형욱 훈련사를 완전히 매료시킨 천재견.강형욱을 완전히 만...,Pets & Animals,67
117679,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-04-03 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,5087266,36608,0,8042,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
117470,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-04-02 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,4991578,36066,0,7929,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
15435,uXLh6C6iccM,"강형욱이 탐낸 천재견, 신비의 견종 3개월 파라오 하운드와 저 세상 터그놀이 | 강...",2020-11-06 09:30:11,UCee1MvXr6E8qC_d2WEYTU5g,강형욱의 보듬TV - Dog Trainer Kang,2020-11-13 00:00:00,강형욱|강형욱훈련사|보듬|보듬컴퍼니|BODEUM|강아지|반려견|개|Dog|puppy...,4926293,42362,1155,2877,[Eng sub/中文字幕]강형욱 훈련사를 완전히 매료시킨 천재견.강형욱을 완전히 만...,Pets & Animals,67
117264,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-04-01 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,4861929,35275,0,7760,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
117044,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-03-31 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,4716146,34462,0,7681,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
15210,uXLh6C6iccM,"강형욱이 탐낸 천재견, 신비의 견종 3개월 파라오 하운드와 저 세상 터그놀이 | 강...",2020-11-06 09:30:11,UCee1MvXr6E8qC_d2WEYTU5g,강형욱의 보듬TV - Dog Trainer Kang,2020-11-12 00:00:00,강형욱|강형욱훈련사|보듬|보듬컴퍼니|BODEUM|강아지|반려견|개|Dog|puppy...,4704250,40315,1103,2703,[Eng sub/中文字幕]강형욱 훈련사를 완전히 매료시킨 천재견.강형욱을 완전히 만...,Pets & Animals,67
23941,TXfqleAsvGI,새끼 강아지가 처음으로 짖자 놀란 진돗개 반응,2020-12-14 13:43:11,UC-603KNB_fvzHP9MpBqSKWg,진똑개 풍이,2020-12-27 00:00:00,진돗개|풍산개|Shorts|강아지|백구|강아지임보|Jindodog|Koreanjin...,4649389,41999,1008,1287,애기 짖는 소리에 풍이가 같이 움찔 하는게 킬포..🐶#뭐야강아지였어? #놀란진돗개 ...,Pets & Animals,9
116829,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-03-30 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,4524607,33366,0,7575,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
23706,TXfqleAsvGI,새끼 강아지가 처음으로 짖자 놀란 진돗개 반응,2020-12-14 13:43:11,UC-603KNB_fvzHP9MpBqSKWg,진똑개 풍이,2020-12-26 00:00:00,진돗개|풍산개|Shorts|강아지|백구|강아지임보|Jindodog|Koreanjin...,4504258,40536,971,1250,애기 짖는 소리에 풍이가 같이 움찔 하는게 킬포..🐶#뭐야강아지였어? #놀란진돗개 ...,Pets & Animals,9
23494,TXfqleAsvGI,새끼 강아지가 처음으로 짖자 놀란 진돗개 반응,2020-12-14 13:43:11,UC-603KNB_fvzHP9MpBqSKWg,진똑개 풍이,2020-12-25 00:00:00,진돗개|풍산개|Shorts|강아지|백구|강아지임보|Jindodog|Koreanjin...,4350047,39048,916,1212,애기 짖는 소리에 풍이가 같이 움찔 하는게 킬포..🐶#뭐야강아지였어? #놀란진돗개 ...,Pets & Animals,9
116613,xXw7IPxbhZg,살면서 처음으로 통제 당하자 울부짖는 이백이와 단호하게 저지하는 강형욱 ㄷㄷ | 개...,2022-03-23 08:00:14,UCAhKKbDO9-ymWZ_7iAFLBQQ,KBS동물티비 : 애니멀포유 animal4u,2022-03-29 00:00:00,애니멀포유|animal4u|kbs동물|동물채널|강아지|고양이|사자|백호|늑대|dog...,4200737,31725,0,7144,※ 회차 정보 : 개는 훌륭하다 23화 (2020.04.13)#애니멀포유 #개는훌륭...,Pets & Animals,47
23274,TXfqleAsvGI,새끼 강아지가 처음으로 짖자 놀란 진돗개 반응,2020-12-14 13:43:11,UC-603KNB_fvzHP9MpBqSKWg,진똑개 풍이,2020-12-24 00:00:00,진돗개|풍산개|Shorts|강아지|백구|강아지임보|Jindodog|Koreanjin...,4163419,37413,871,1174,애기 짖는 소리에 풍이가 같이 움찔 하는게 킬포..🐶#뭐야강아지였어? #놀란진돗개 ...,Pets & Animals,9
23060,TXfqleAsvGI,새끼 강아지가 처음으로 짖자 놀란 진돗개 반응,2020-12-14 13:43:11,UC-603KNB_fvzHP9MpBqSKWg,진똑개 풍이,2020-12-23 00:00:00,진돗개|풍산개|Shorts|강아지|백구|강아지임보|Jindodog|Koreanjin...,4013855,35832,836,1130,애기 짖는 소리에 풍이가 같이 움찔 하는게 킬포..🐶#뭐야강아지였어? #놀란진돗개 ...,Pets & Animals,9

In [ ]:
print(len(df[df['video_id']==df['video_id'].unique()[1]]))
df[df['video_id']==df['video_id'].unique()[1]].tail(1)

5

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,description,category_name,tag_num
656,I-ZbZCHsHD0,부락토스의 계획 [총몇명 프리퀄],2020-08-12 09:00:08,UCRuSxVu4iqTK5kCh90ntAgA,총몇명,2020-08-16 00:00:00,총몇명|재밌는 만화|부락토스|루시퍼|총몇명 프리퀄|총몇명 스토리,1683060,36185,767,4048,"오늘도 정말 감사드립니다!!총몇명 스튜디오 - 총몇명, 십제곱, 5G민, MOVE혁...",Film & Animation,6

In [ ]:
df.columns

Index(['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'trending_date', 'tags', 'view_count', 'likes', 'dislikes',
       'comment_count', 'description', 'category_name', 'tag_num'],
      dtype='object')

In [ ]:
df_unique = pd.DataFrame(columns = ['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'trending_date', 'tags', 'view_count', 'likes', 'dislikes',
       'comment_count', 'description', 'category_name', 'tag_num', 'period'])
#period 열을 추가!

for i in range(len(df['video_id'].unique())):
  df_unique = df_unique.append(df[df['video_id']==df['video_id'].unique()[i]].tail(1), ignore_index=True)
  df_unique['period'][i] = len(df[df['video_id']==df['video_id'].unique()[i]])
  #가장 아래에 있는 행, 즉 최신 행으로 update

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137541 entries, 0 to 137540
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           137541 non-null  object
 1   title              137541 non-null  object
 2   publishedAt        137541 non-null  object
 3   channelId          137541 non-null  object
 4   channelTitle       137541 non-null  object
 5   trending_date      137541 non-null  object
 6   tags               137541 non-null  object
 7   view_count         137541 non-null  int64
 8   likes              137541 non-null  int64
 9   dislikes           137541 non-null  int64
 10  comment_count      137541 non-null  int64
 11  comments_disabled  137541 non-null  bool
 12  ratings_disabled   137541 non-null  bool
 13  description        133998 non-null  object
 14  category_name      137541 non-null  object
 15  tag_num            137541 non-null  int64
dtypes: bool(2), int64(5), object(9)
memory usage: 15.0+ MB

In [ ]:
df_unique.head(5)

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,description,category_name,tag_num,period,comments_disabled,ratings_disabled
0,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,2020-08-18 00:00:00,보겸|bokyem,6879571,53705,115494,128860,NaN,Entertainment,2,7,False,False
1,I-ZbZCHsHD0,부락토스의 계획 [총몇명 프리퀄],2020-08-12 09:00:08,UCRuSxVu4iqTK5kCh90ntAgA,총몇명,2020-08-16 00:00:00,총몇명|재밌는 만화|부락토스|루시퍼|총몇명 프리퀄|총몇명 스토리,1683060,36185,767,4048,"오늘도 정말 감사드립니다!!총몇명 스튜디오 - 총몇명, 십제곱, 5G민, MOVE혁...",Film & Animation,6,5,False,False
2,9d7jNUjBoss,평생 반성하면서 살겠습니다.,2020-08-10 09:54:13,UCMVC92EOs9yDJG5JS-CMesQ,양팡 YangPang,2020-08-18 00:00:00,양팡|양팡유튜브|팡튜브|가족시트콤|양팡가족|양팡가족시트콤|양팡언니|현실남매|현실자매...,4419287,20455,91514,60021,NaN,People & Blogs,27,7,False,False
3,3pI_L3-sMVg,안녕하세요 꽈뚜룹입니다.,2020-08-11 15:00:58,UCkQCwnkQfgSuPTTnw_Y7v7w,꽈뚜룹 Quaddurup,2020-08-18 00:00:00,꽈뚜룹|한국여행기|quaddurup|뚜룹이|korea|southkorea|vlog|...,2272383,42105,2928,9900,앞으로 좀 더 깔끔한 영상제작 약속 드리겠습니다.늘 감사드립니다,Entertainment,12,7,False,False
4,zrsBjYukE8s,박진영 (J.Y. Park) When We Disco (Duet with 선미) M/V,2020-08-11 09:00:13,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,2020-08-19 00:00:00,JYP Entertainment|JYP|J.Y.Park|JYPark|박진영|선미|S...,12533252,516777,16047,32508,MelOn http://kko.to/TWyXd7zYjSpotify https://s...,Music,13,8,False,False

In [ ]:
df_unique.tail(5)

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,description,category_name,tag_num,period
16925,kyMViwaTz9U,Faker 선수의 LCK 최초 500승 달성을 축하드립니다! | 젠지 vs. T1 ...,2022-07-08 11:17:58,UCw1DsweY9b2AKGjV4kGJP1A,LCK,2022-07-11 00:00:00,LCK|LCK Korea|롤챔스|티원|에욱|SNL|LCK썸네일|편집자|스크|T1|S...,499672,0,0,1812,#LCK #WeMakeLegends #TowardsTheFuture■LIVE & L...,Gaming,79,1
16926,acoLqCCw9Sc,대구레이븐 | 젠지 vs. T1 게임2 하이라이트 | 07.08 | 2022 LCK...,2022-07-08 10:23:48,UCw1DsweY9b2AKGjV4kGJP1A,LCK,2022-07-11 00:00:00,LCK|LCK Korea|롤챔스|티원|에욱|SNL|LCK썸네일|편집자|스크|T1|S...,456567,0,0,1209,#LCK #WeMakeLegends #TowardsTheFuture■LIVE & L...,Gaming,79,1
16927,rYoQLv2cuGo,映画『THE FIRST SLAM DUNK』特報【2022.12.3 公開】,2022-07-07 10:00:11,UCLhgIX2L5ZCaWdlaxR_oTAg,東映アニメーション公式YouTubeチャンネル,2022-07-11 00:00:00,[None],3027157,47031,0,3174,映画『THE FIRST SLAM DUNK』特報2022.12.3 公開Long Feat...,Film & Animation,0,1
16928,1iJcNpt3ePY,헤이즈(Heize) - '거리마다 (Feat. I.M of 몬스타엑스)' Live ...,2022-07-08 09:00:01,UCsXigGjbC_l4ttk-oahTfVg,Heize official,2022-07-11 00:00:00,[None],110679,16935,0,821,헤이즈(Heize) - '거리마다 (Feat. I.M of 몬스타엑스)' Live ...,Music,0,1
16929,c67-On9WMDc,어서와~ 한국은 처음이지!?😎🇰🇷,2022-07-10 09:08:34,UCEg25rdRZXg32iwai6N6l0w,Tottenham Hotspur,2022-07-11 00:00:00,Spurs|Tottenham Hotspur|토트넘|손흥민|EPL|English Pr...,213485,8381,0,603,"구독과 좋아요, 그리고 토트넘 한국 공식 계정 팔로우는 센스! 👇 Twitter: ...",Sports,9,1

In [ ]:
df_unique.groupby('period')['video_id'].count()

period
1      343
2      335
3      484
4      718
5     1198
6     1735
7     2179
8     2397
9     2280
10    1890
11    1342
12     904
13     460
14     289
15     114
16      96
17      51
18      54
19      17
20      20
21      12
22       6
23       4
24       2
Name: video_id, dtype: int64

In [ ]:
df_unique.groupby('category_name').agg({'period':['count','median','mean', 'min', 'max']})

                      period
                       count median      mean min max
category_name
Autos & Vehicles         206    8.0  8.310680   1  18
Comedy                   984    9.0  8.777439   1  24
Education                339    8.0  7.952802   1  20
Entertainment           5820    8.0  8.226804   1  23
Film & Animation         558    8.0  8.017921   1  22
Gaming                   635    8.0  7.987402   1  21
Howto & Style            643    9.0  9.284603   1  21
Music                   1829    8.0  8.085839   1  22
News & Politics         1104    6.0  6.161232   1  21
Nonprofits & Activism     32    8.0  7.468750   1  12
People & Blogs          2528    9.0  8.580696   1  23
Pets & Animals           322    8.0  8.673913   1  22
Science & Technology     292    8.0  7.852740   1  16
Sports                  1420    8.0  7.426761   1  24
Travel & Events          218    9.0  8.986239   1  17

In [ ]:
print('전체 데이터에서의 카테고리 분포')

# 2) 전체 중에서의 각 category가 차지하는 비율 출력하기
print(df['category_name'].value_counts(normalize=True))

print()

print('unique한 데이터에서의 카테고리 분포')

# 2) 전체 중에서의 각 category가 차지하는 비율 출력하기
print(df_unique['category_name'].value_counts(normalize=True))
# 딱히 차이는 없네요! 당연히... 뉴스와 정치 쪽이 조금 많아졌다는 것 빼고는 변화 없음

전체 데이터에서의 카테고리 분포
Entertainment            0.348081
People & Blogs           0.157749
Music                    0.107500
Sports                   0.076654
Comedy                   0.062710
News & Politics          0.049399
Howto & Style            0.043416
Gaming                   0.036967
Film & Animation         0.032540
Pets & Animals           0.020305
Education                0.019563
Science & Technology     0.016670
Travel & Events          0.014293
Autos & Vehicles         0.012417
Nonprofits & Activism    0.001737
Name: category_name, dtype: float64

unique한 데이터에서의 카테고리 분포
Entertainment            0.343768
People & Blogs           0.149321
Music                    0.108033
Sports                   0.083875
News & Politics          0.065210
Comedy                   0.058122
Howto & Style            0.037980
Gaming                   0.037507
Film & Animation         0.032959
Education                0.020024
Pets & Animals           0.019019
Science & Technology     0.017247
Travel & Events          0.012877
Autos & Vehicles         0.012168
Nonprofits & Activism    0.001890
Name: category_name, dtype: float64

In [ ]:
df_unique[df_unique['category_name']=='Howto & Style']['title']

71                                              말씀 드리겠습니다.
155                  핑크 다음은 플라워....🌸존좋템 바꿔서 화장하기 with 아옳이🌸
158      [Eng] 싹쓰리-린다G(LINDA G) Cover Makeup (Lee HyoRi...
335                                  팔뚝살 최고의 운동 [팔뚝살 핵매운맛]
390                                           3D펜으로 나고 만들기
                               ...
16683    *SUB) 스물아홉 #독립시작 . 🏠 (자취를 결심한 이유, 모녀대첩) ep.00 ...
16687                  제주도 한달 살이 QnA✨ 비용? 기간? 추천? 다시 또 갈래?
16739                                종이의집 코스프레하고 조폐국 본사 가기
16773                🇺🇸(찐)카디비 네일 하시는 쌤한테 크레이지 블링블링 네일 받아 봄
16789    임신한 아내와 아기 키울 월세집 구하는 직장인 신혼부부, 경기도에 사 둔 아파트가 ...
Name: title, Length: 643, dtype: object

In [ ]:
df_unique.to_csv('/content/drive/MyDrive/EDA/data0712/youtube_unique.csv',index=False)

In [ ]:
df_unique = pd.read_csv('/content/drive/MyDrive/EDA/data0712/youtube_unique.csv',lineterminator='\n')
len(df_unique[df_unique['view_count']==0])

2

In [ ]:
df_unique[df_unique['view_count']==0]

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,description,category_name,tag_num,period
4392,gNfxYzW-wME,Hello 2021 Korea | 크리에이터와 함께하는 Goodbye 2020,2020-12-31 14:00:10,UCOH52Yqq4-rdLvpt2Unsqsw,YouTube Korea,2021-01-06 00:00:00,YouTube Originals|YouTube|Hello 2021 Korea|ful...,0,2143,82,657,유례 없는 한 해를 함께해준 크리에이터 및 아티스트를 만나보는 유튜브 오리지널의 신...,Entertainment,18,6
7304,hAxqygRdM4g,Earth Day 2021 Doodle,2021-04-21 11:00:14,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,2021-04-28 00:00:00,[None],0,0,0,0,This year’s annual Earth Day Doodle highlights...,Film & Animation,0,7

In [ ]:
df_unique = df_unique[df_unique['view_count']!=0]
df_unique.to_csv('/content/drive/MyDrive/EDA/data0712/youtube_unique_0717.csv',index=False)

In [ ]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16928 entries, 0 to 16927
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           16928 non-null  object
 1   title              16928 non-null  object
 2   publishedAt        16928 non-null  object
 3   channelId          16928 non-null  object
 4   channelTitle       16928 non-null  object
 5   trending_date      16928 non-null  object
 6   tags               16928 non-null  object
 7   view_count         16928 non-null  object
 8   likes              16928 non-null  object
 9   dislikes           16928 non-null  object
 10  comment_count      16928 non-null  object
 11  description        16479 non-null  object
 12  category_name      16928 non-null  object
 13  tag_num            16928 non-null  object
 14  period             16928 non-null  object
 15  comments_disabled  16928 non-null  object
 16  ratings_disabled   16928 non-null  object
dtypes: object(17)
memory usage: 2.3+ MB

# 방탄소년단 분석한다면?  
1. 성공 이유?
2. 방탄TV 자체콘텐츠
- 업로드 주기와 관련하여
3. 아미와 관련하여
- 방탄TV에 title로 아미가 적혀있는 경우가 어느정도 되는지?
- 그 추이가 줄어드는지? 늘어나는지?
4. 방탄소년단의 사건사고와 관련하여
- 방탄TV의 업로드가 줄어드는지?
- 방탄TV를 제외한 다른 채널에서의 방탄소년단에 대한 언급도 top200에 드는지?